{% extends "layout.html" %}
{% block body %}
<div style='text-align: center; margin-top: 10%;'>
	Enter Your Search Term
	<br><br><br>
	<form name="myForm" action="{{ url_for('searched') }}" onsubmit="return validateForm()" method="POST">
		<input type='text' name='term' placeholder='Type Your Search Here ...'>
		<br><br><br>
		<input type='submit' value='Search'>
	</form>
</div>
<script>
function validateForm() {
  var x = document.forms["myForm"]["term"].value;
  if (x == "") {
    alert("Name must be filled out");
    return false;
  }
}
</script>
{% endblock %}